.header{
    align-items: center;
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
}

.header__title{
    color: $gold;
    font-size: 4rem;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.header__title--span{
    color: $off-white;
}

.header__icon{
    height: 45px;
    width: 45px;
}
