.reset{
    align-items: center;
    background-color: $light-black; 
    display: flex;
    flex-direction: column;
    height: 92vh;
    justify-content: center;
}

.reset__form{
    width: 60%;
    text-align: center;
}

.reset__form--input{
    background-color: rgba(182, 182, 182, 0.30) !important;
    border: none !important;
    border-radius: 5px !important;
    color: #fff;
    margin-bottom: 25px !important;
    padding: 12px 16px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    width: 50% !important;
}

.reset__form input:focus + label {
    color: rgb(29, 29, 29) !important;
}
/* label underline focus color */
.reset__form input:focus {
    border: 1px solid $gold !important;
    box-shadow: 0 1px 0 0 rgb(29, 29, 29) !important
}

.reset__form--btn{
    background-color: $gold !important;
    border: none;
    padding: 12px 16px;
    margin-top: 25px !important;
    width: 50%;
}

// * media queries
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 374.98px) and (orientation: portrait) {
    .reset__title{
        font-size: 3rem !important;
    }

    .reset__form--input{
    width: 80% !important;
    }

    .reset__form{
        width: 80%;
    }

    .reset__form--btn{
        width: 75%;
    }
}

@media (min-width: 375px) and (max-width: 413.98px) and (orientation: portrait) {
    .reset__form--input{
    width: 80% !important;
    }

    .reset__form{
        width: 80%;
    }

    .reset__form--btn{
        width: 75%;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) and (orientation: portrait) {
    .reset__form--input{
    width: 80% !important;
    }

    .reset__form{
        width: 80%;
    }

    .reset__form--btn{
        width: 75%;
    }
}

@media (max-width: 575.98px) and (orientation: landscape) {
    .reset{
        height: 120vh;
    }

    .reset__form--input{
    width: 60% !important;
    }

    .reset__form{
        width: 80%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .reset{
        height: 100vh;
    }

    .reset__form--input{
    width: 60% !important;
    }

    .reset__form{
        width: 80%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .reset{
        height: 100vh;
    }

    .reset__form{
        width: 80%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .reset__form{
        width: 70%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}